> .find-courses {
    margin-top: @layout-top-spacing;
    background: none;

    header {
        display: none;
    }

    .courses-container{
        padding: 18px 10px 0 30px;
        margin-left: auto;
        @media (max-width: @screen-lg){
            padding: 18px 10px 0 10px;
        }

        ul{
            list-style-type: none;
            // margin: 0;
            // padding: 0;
        }
        .navigation-course1{
            li{
                display: inline-block;
                height: 35px;
                a{
                    display: inline-block;
                    padding-top: 5px;
                }
            }
        }

        .navigation-course2{
            // margin:20px 0px;

            li{
                float: left;
                margin-bottom: 5px;
                height: 35px;
                a{
                    display: inline-block;
                    padding-top: 6px;
                }
            }
        }

        .navigation-course {
            display: inline;
        }

        .links{
            border-right: 0px;
            border-left: 1px;
            border-bottom: 1px;
            border-top: 1px;
            border-style: solid;
            border-color: @color-howest-pink;
        }

        .linksactive{
            border-right: 0px;
            border-left: 1px;
            border-bottom: 1px;
            border-top: 1px;
            border-style: solid;
            border-color: @color-howest-pink;
            color: white;
            background-color: @color-howest-pink;

            a{
                color: white;
            }
        }

        .rechts{
            
            /*border-left: 1px;
            border-bottom: 1px;
            border-top: 1px;
            border-style: solid;
            border-color: @color-howest-pink;*/
            border: 1px solid @color-howest-pink;
        }

        a {
            text-decoration: none;
            color: @color-howest-pink;
            padding: 20px  
        }

        a:hover,a:active, #linksactive a{
            color: white;
        }

        .navigation-course:hover{
            background-color: @color-howest-pink
        }
    }

    .container {
        .ionisx-container();
    }

    .courses {
        padding: 0;
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 60px;

        .courses-listing-item{
            article.color{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-howest-orange;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                a{
                    // background-image: url("../images/Vakafbeeldingen/global.png");
                    background-size: 120%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-howest-orange;

                        .course-name{
                            // background: @color-howest-orange;
                            .course-title{
                                color: @color-howest-orange;
                            }
                            .course-organization{
                                color: @color-howest-orange;
                            }
                            .course-code{
                                color: @color-howest-orange;
                            }
                        }
                    }
                }
                &:hover{
                    border-color: @color-howest-orange !important;
                }
                .course-progress{
                    width: 24%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                }
            }

            article.coloro{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-howest-orange;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                a{
                    // background-image: url("../images/Vakafbeeldingen/global.png");
                    background-size: 120%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-howest-orange;

                        .course-name{
                            // background: @color-howest-orange;
                            .course-title{
                                color: @color-howest-orange;
                            }
                            .course-organization{
                                color: @color-howest-orange;
                            }
                            .course-code{
                                color: @color-howest-orange;
                            }
                        }
                    }
                }
                &:hover{
                    border-color: @color-howest-orange !important;
                }
                .course-progress{
                    width: 30%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                } 
            }

            article.color0{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-howest-orange;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                a{
                    // background-image: url("../images/Vakafbeeldingen/global.png");
                    background-size: 120%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-howest-orange;

                        .course-name{
                            // background: @color-howest-orange;
                            .course-title{
                                color: @color-howest-orange;
                            }
                            .course-organization{
                                color: @color-howest-orange;
                            }
                            .course-code{
                                color: @color-howest-orange;
                            }
                        }
                    }
                }
                &:hover{
                    border-color: @color-howest-orange !important;
                }
                .course-progress{
                    width: 15%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                } 
            }

            article.color1{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-course-yellow;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                a{
                    // background-image: url("../images/Vakafbeeldingen/design.jpg");
                    background-size: 120%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-course-yellow;

                        .course-name{
                            // background: @color-course-yellowrgba;
                            .course-title{
                                color: @color-course-yellow;
                            }
                            .course-organization{
                                color: @color-course-yellow;
                            }
                            .course-code{
                                color: @color-course-yellow;
                            }
                        }
                    }
                }
                &:hover{
                    border-color: @color-course-yellow !important;
                }
                .course-progress{
                    width: 45%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                }
            }

            article.color2{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-course-blue;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                a{
                    // background-image: url("../images/Vakafbeeldingen/appdev.png");
                    background-size: 120%;
                    background-position: -30px -50px;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-course-blue;

                        .course-name{
                            // background: @color-course-bluergba;
                            .course-title{
                                color: @color-course-blue;
                            }
                            .course-organization{
                                color: @color-course-blue;
                            }
                            .course-code{
                                color: @color-course-blue;
                            }
                        } 
                    }
                }
                &:hover{
                    border-color: @color-course-blue !important;
                }
                .course-progress{
                    width: 74%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                }
            }

            article.color3{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-course-grey;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                a{
                    // background-image: url("../images/Vakafbeeldingen/Serverside.jpg");
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-course-grey;

                        .course-name{
                            // background: @color-course-greyrgba;
                            .course-title{
                                color: @color-course-grey;
                            }
                            .course-organization{
                                color: @color-course-grey;
                            }
                            .course-code{
                                color: @color-course-grey;
                            }
                        } 
                    }
                }
                &:hover{
                    border-color: @color-course-grey !important;
                }
                .course-progress{
                    width: 80%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                }
            }

            article.color4{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-course-green;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                a{
                    // background-image: url("../images/Vakafbeeldingen/des.png");
                    background-size: 51%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-course-green;

                        .course-name{
                            // background: @color-course-greenrgba;
                            .course-title{
                                color: @color-course-green;
                            }
                            .course-organization{
                                color: @color-course-green;
                            }
                            .course-code{
                                color: @color-course-green;
                            }
                        } 
                    }
                }
                &:hover{
                    border-color: @color-course-green !important;
                }
                .course-progress{
                    width: 54%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                }
            }

            article.color5{
                .hvr-sweep-to-right-course:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: @color-course-purple;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transform-origin: 0 50%;
                    transform-origin: 0 50%;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }
                a{
                    // background-image: url("../images/Vakafbeeldingen/infrastructure.png");
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;

                    .course-info{
                        border-color: @color-course-purple;

                        .course-name{
                            // background: @color-course-purplergba;
                            .course-title{
                                color: @color-course-purple;
                            }
                            .course-organization{
                                color: @color-course-purple;
                            }
                            .course-code{
                                color: @color-course-purple;
                            }
                        } 
                    }
                }
                &:hover{
                    border-color: @color-course-purple !important;
                }
                .course-progress{
                    width: 64%;
                    height: 30px;
                    background-color: #b3bdc7;
                    color: @white;
                }
            } 
        }

        .courses-listing-item {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-md-column(6);
            .make-lg-column(4);

            margin: 0;
            margin-top: 15px;
            display: block;
            text-align: left;
            clear: none !important;

            // &:last-child {
            //     margin: 0;
            // }

            .course {
                // .course-name{
                //     .course-title{
                //         color: @color-course-yellow;
                //     }
                //     .course-organization{
                //         color: @color-course-yellow;
                //     }
                //     .course-code{
                //         color: @color-course-yellow;
                //     }
                // }
                // a{
                //     padding: 20px 20px 0 20px;
                //     background-image: url("../images/Vakafbeeldingen/design.jpg");
                //     background-size: 120%;
                //     background-position: center;
                //     background-repeat: no-repeat;

                //     .course-info{
                //         border-color: @color-howest-orange;

                //         .course-name{
                //             // background: @color-howest-orange;
                //         }
                //     }
                // }
                // &:hover{
                //     border-color: @color-howest-orange !important;
                // }

                // .course-progress{
                //     width: 54%;
                //     height: 30px;
                //     background-color: #b3bdc7;
                //     color: @white;

                //     // &:hover{
                //     //     background-color: @color-course-yellow;
                //     //     transition: all 0.3s ease-in-out;
                //     //     -webkit-transition: all 0.3s ease-in-out;
                //     // }
                // }
                .hvr-sweep-to-right-course {
                        display: inline-block;
                        vertical-align: middle;
                        -webkit-transform: translateZ(0);
                        transform: translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        position: relative;
                        -webkit-transition-property: color;
                        transition-property: color;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                }
                // .hvr-sweep-to-right-course:before {
                //     content: "";
                //     position: absolute;
                //     z-index: -1;
                //     top: 0;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     background: @color-course-yellow;
                //     -webkit-transform: scaleX(0);
                //     transform: scaleX(0);
                //     -webkit-transform-origin: 0 50%;
                //     transform-origin: 0 50%;
                //     -webkit-transition-property: transform;
                //     transition-property: transform;
                //     -webkit-transition-duration: 0.3s;
                //     transition-duration: 0.3s;
                //     -webkit-transition-timing-function: ease-out;
                //     transition-timing-function: ease-out;
                // }

                box-shadow: none;
                background: none;
                border-radius: 0;
                background-color: @white;
                border: 1px solid #b3bdc7;

                &:hover{
                    box-shadow: none;
                    // border-color: @color-course-yellow;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;

                    .hvr-sweep-to-right-course, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
                        color: white;
                        border: none;
                    }
                    .hvr-sweep-to-right-course:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                        border: none;
                    }
                }

                .inner-wrapper {
                    border: 0 none;

                    .course-preview {
                        box-shadow: none;
                        border-bottom: 1px solid @color-border;
                        background: none;
                        background-color: fadeout(@white, 10%);

                        hgroup {
                            width: 100%;

                            h2 {
                                font-family: @font-family-sans-serif;
                                font-size: 14px;
                                font-weight: 600;
                                text-shadow: none;
                                color: @black;
                            }
                        }

                        .info-link {
                            display: none;
                        }

                        .course-number {
                            display: none;
                        }
                    }
                }

                .status {
                    display: none;
                }

                .meta-info {
                    box-shadow: none;
                    background: none;
                    border: 0 none;
                    background-color: fadeout(@black, 20%);
                    border-radius: @default-border-radius;
                    right: 5px;
                    bottom: 5px;

                    p {
                        font: inherit;
                        font-size: 0.9em;
                        color: @white;
                        margin: 0;
                        padding: 4px 8px;
                    }
                }
            }
        }
    }
}