> .home {
    margin: 0;
    background: none;



    li.course-yellow{
        .course{
            background: @color-course-yellow !important;

            &:hover{
                border-color: @color-course-yellow !important;
            }
            .course-title{
                    color: @color-course-yellow !important;
            }


        }
    } 



    li.course-blue{
        .course{
            background: @color-course-blue !important;

            &:hover{
                border-color: @color-course-blue !important;
            }
            .course-title{
                    color: @color-course-blue !important;
            }
        }
    }

    li.course-grey{
        .course{
            background: @color-course-grey !important;

            &:hover{
                border-color: @color-course-grey !important;
            }
            .course-title{
                    color: @color-course-grey !important;
            }

          a{
            background-image: url("../images/Vakafbeeldingen/Serverside.jpg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
    }

    li.course-green{
        .course{
            background: @color-course-green !important;

            &:hover{
                border-color: @color-course-green !important;
            }
            .course-title{
                    color: @color-course-green !important;
            }

          /*a{
            background-image: url("../images/Vakafbeeldingen/DES.jpg");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
          }*/
        }
    }

    li.course-purple{
        .course{
            background: @color-course-purple !important;

            &:hover{
                border-color: @color-course-purple !important;
            }
            .course-title{
                color: @color-course-purple !important;


            }

          a{
            background-image: url("../images/Vakafbeeldingen/infrastructure.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;

          }



        }
    }       

    .courses-featured-title{
                    text-align: left;
                    padding-left: 18px;
    }
    
    .courses-container{
        .highlighted-courses{
            .courses{
                .courses-listing{
                    .courses-listing-item{
                        clear: none;
                    
                        // .course{
                        //     background: #fbad26 !important;
                        // }
                            a{
                                background-color: #ececec !important;
                            }
                            .course-info{
                                height: 200px;
                            
                                .course-name
                                    .course-title{
                                        margin: 0;
                                        height: 40px;
                                    }
                                // .course-date{
                                //     visibility: hidden;
                                // }
                            }
                    }
                }                   
            }
        }
    }

    > header {
        .square(auto);

        box-shadow: none;
        border: none;
        background-color: @color-howest;
        margin: 0;
        padding: 60px 0;

        //BACKGROUND IMAGE
        /*background-image: url("../images/homepageheader.jpg");
        background-repeat: no-repeat;
        background-size: 1000 px;*/

        .outer-wrapper {
            .ionisx-container();

            border-radius: @default-border-radius;
            padding-bottom: 15px;
            padding-top: 15px;

            .title {
                .course-search
                    .search-button{
                        right: 0;
                        //old! background-color: #1790c7;
                        background-color: @color-howest-pink;
                        border: 2px solid @color-howest-pink;
                        border-left-style: none;
                    }
                    .search-input{
                        border: 2px solid @color-howest-pink;
                    }
                .square(auto);
                .make-md-column(8);
                .make-lg-column(8);

                background: none;
                box-shadow: none;
                border: 0 none;
                transition: none;
                float: none;
                min-height: 0;
                margin: 0;
                padding: 0;


                hgroup {
                    padding: 0;
                    transition: none;
                    color: @white;

                    h1 {
                        font: inherit;
                        font-size: @font-size-h1;
                        font-weight: 500;
                        color: inherit;
                        text-shadow: none;
                        text-transform: none;
                        margin: 0;
                    }

                    h2 {
                        font: inherit;
                        font-size: @font-size-h2;
                        color: inherit;
                        text-shadow: none;
                        text-transform: none;
                        margin: 0;
                    }
                }
            }

            .media {
                .square(auto);
                .make-md-column(4);
                .make-lg-column(4);

                display: block;
                background: none;
                border: 0 none;
                float: none;
                margin: 0;
                padding: 0;

                @media (max-width: @screen-sm-max) {
                    width: 350px;
                }

                @media (max-width: @screen-xs-max) {
                    width: auto;
                }

                .hero {
                    .size(auto, 170px);

                    background: none;
                    overflow: initial;
                    position: static;
                    margin: auto;
                    background: @black;
                    border: 1px solid @color-border;
                    border-radius: @default-border-radius;

                    @media (max-width: @screen-sm-max) {
                        margin: 15px 0 0 0;
                    }
                }
            }
        }
    }

    .container {
        .ionisx-container();
    }

    .courses {
        padding: 0;
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;

        .courses-listing-item {
            .make-xs-column(12);
            .make-sm-column(6);
            .make-md-column(6);
            .make-lg-column(4);

            margin: 0;
            display: block;
            text-align: left;

            &:last-child {
                margin: 0;
            }

            .course {
                box-shadow: none;
                background: none;
                border-radius: 0;
                background-color: @white;
                border: 1px solid @white;

                &:hover {
                    box-shadow: none;
                    //course hover kleur border aanpassen per vak
                    border-color: @color-howest-pink;
                    // border-color: #fbad26;
                }

                .course-title{
                    color: @color-howest-pink;
                }

                .inner-wrapper {
                    border: 0 none;

                    .course-preview {
                        box-shadow: none;
                        border-bottom: 1px solid @color-border;
                        background: none;
                        background-color: fadeout(@white, 10%);

                        hgroup {
                            width: 100%;

                            h2 {
                                font-family: @font-family-sans-serif;
                                font-size: 14px;
                                font-weight: 600;
                                text-shadow: none;
                                color: @black;
                            }
                        }

                        .info-link {
                            display: none;
                        }

                        .course-number {
                            display: none;
                        }
                    }
                }

                .status {
                    display: none;
                }

                .meta-info {
                    box-shadow: none;
                    background: none;
                    border: 0 none;
                    background-color: fadeout(@black, 20%);
                    border-radius: @default-border-radius;
                    right: 5px;
                    bottom: 5px;

                    p {
                        font: inherit;
                        font-size: 0.9em;
                        color: @white;
                        margin: 0;
                        padding: 4px 8px;
                    }
                }

            }
        }
    }
}
