<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<article class="course" id="${course.id | h}" role="region" aria-label="${get_course_about_section(course, 'title')}">
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <section class="course-info" aria-hidden=true>
      <h2 class="course-name">
        <span class="course-organization">${get_course_about_section(course, 'university')}</span>
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title">${get_course_about_section(course, 'title')}</span>
      </h2>
    </section>
  </a>
</article>
